# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules/
build/
dist/
.env
*.log

# Optional: Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace